.container{
  background-color: #404143;
  width: 360px;
  height: 640px;

}
body{
  max-width: 360px;
  max-height: 640px;
}

#image1{
  height: 200px;
  width: 200px;
  margin: 4em;
  margin-bottom: 1em;
}
label{
  color: white;
}
.formContainer{
  background-color: white;
  width: 300px;
  height: 200px;
  margin: 1em;
}
#mail{
  border: inset;
  width: 300px;
  text-align: center;
}
.btn{
  background-color: #f3ab04;
  width: 300px;
}
p{
  font-size: 40px;
  color:#f3ab04;
  text-align: center;
}
